# ============================================================
# Django
# ============================================================

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_STATIC_ROOT=/app/staticfiles
DJANGO_MEDIA_ROOT=/app/media

DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_SECURE_SSL_REDIRECT=False

DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False


# ============================================================
# SQL Server
# ============================================================

DB_ENGINE=mssql
DB_NAME=
DB_HOST=
DB_PORT=1433
DB_USER=
DB_PASSWORD=

DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUSTED_CONNECTION=no
DB_TRUST_SERVER_CERTIFICATE=yes


# ============================================================
# Microsoft Entra ID
# ============================================================

ENTRA_AUTH_ENABLED=False

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=

ENTRA_REDIRECT_URI=http://localhost:8000/accounts/auth/callback/
ENTRA_POST_LOGOUT_REDIRECT_URI=http://localhost:8000/accounts/login/

ENTRA_ACCESS_GROUP_ID=

ENTRA_GROUP_ADMIN_ID=
ENTRA_GROUP_SUPERVISOR_ID=
ENTRA_GROUP_COLLECTOR_ID=
ENTRA_GROUP_AUDITOR_ID=

ENTRA_SCOPES=User.Read GroupMember.Read.All Mail.Send

IDENTITY_REVALIDATION_MINUTES=15
IDENTITY_REVALIDATION_GRACE_MINUTES=5

ENTRA_GLOBAL_LOGOUT_ENABLED=False
DEV_LOGIN_ENABLED=True


# ============================================================
# Session policy
# ============================================================

INACTIVITY_TIMEOUT_MINUTES=30
ABSOLUTE_SESSION_TIMEOUT_HOURS=10


# ============================================================
# AWS S3
# ============================================================

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=us-east-1

AWS_S3_ATTACHMENT_PREFIX=operational-attachments
AWS_S3_PRESIGNED_URL_EXPIRATION=300
ENTRA_TOKEN_CACHE_ENCRYPTION_KEY=
