# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Future external services
DATABASE_URL=
SQLSERVER_HOST=
SQLSERVER_DATABASE=
SQLSERVER_USER=
SQLSERVER_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

# ============================================================
# Microsoft Entra ID
# ============================================================

# IDs de grupos de seguridad de Microsoft Entra ID.
# Usar siempre el Object ID del grupo, no su nombre visible.

ENTRA_ACCESS_GROUP_ID=

ENTRA_GROUP_ADMIN_ID=
ENTRA_GROUP_SUPERVISOR_ID=
ENTRA_GROUP_COLLECTOR_ID=
ENTRA_GROUP_AUDITOR_ID=