# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Django
media/
staticfiles/
db.sqlite3

# Environment variables
.env

# VSCode
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log