<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand navbar-brand-autodark">
      <a href="{% url 'core:dashboard' %}" class="text-decoration-none">
        Invoice Flow
      </a>
    </h1>

    <div class="collapse navbar-collapse show">
      <ul class="navbar-nav pt-lg-3">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:dashboard' %}">
            <span class="nav-link-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#"><span class="nav-link-title">Asignación</span></a></li>
        <li class="nav-item">
  <a class="nav-link" href="{% url 'management:my_work' %}">
    <span class="nav-link-title">Gestión</span>
  </a>
</li>
        <li class="nav-item">
  <a class="nav-link" href="{% url 'portfolio:documents_list' %}">
    <span class="nav-link-title">Cartera</span>
  </a>
</li>
        <li class="nav-item"><a class="nav-link" href="#"><span class="nav-link-title">Reportes</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><span class="nav-link-title">Integraciones</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><span class="nav-link-title">Administración</span></a></li>
      </ul>
    </div>
  </div>
</aside>